{% extends "layout/base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href="{% url 'book_by_date' book.pub_date %}">{{ book.name }}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% empty %}
            <p>Нет книг для отображения</p>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if previous_date %}
                <a href="{% url 'book_by_date' previous_date %}">{{ previous_date }}</a>&nbsp;
            {% endif %}

            {% if next_date %}
                <a href="{% url 'book_by_date' next_date %}">{{ next_date }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
